<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>wpa_supplicant.conf 作成</title>
</head>
<body>
  <div id="js-itemList">
  SSID: <input type="text" ref="ssid" v-model="newSSID" v-on:keydown.enter="addItem">
  Passphrase: <input type="text" v-model="newPassphrase" v-on:keydown.enter="addItem">
  <button v-on:click="addItem">追加</button>
  <ul>
    <li v-for="item in items">
      SSID: {{item.id}},
      Passphrase: {{item.passphrase}}
      <button v-on:click="deleteItem(item)">削除</button>
    </li>
  </ul>
  <a href="#" v-bind:href="urlWPA" v-on:click="downloadWPA" download="wpa_supplicant.conf"><button>wpa_supplicant.conf作成</button></a>
  <a href="#" v-bind:href="urlSSH" v-on:click="downloadSSH" download="ssh.txt"><button>ssh.txt作成</button></a>
  </div>
  <script src="dist/bundle.js"></script>
</body>
</html>
